.card {
  flex: 0 1 24%;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}

div {
  background-color: #3a539b;
  color: white;
  text-align: left;
}

.cards {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Add rounded corners to the top left and the top right corner of the image */
.movie-index {
  /* border-radius: 10px 10px 0 0; */
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 10px 10px;
}

body {
  font-family: Raleway;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #aa7604;
}
